<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="4">
            <ion-router-link routerLink="/">
              <img width="80" src="assets/CarStore.png">
            </ion-router-link>
          </ion-col>
          <ion-col>
            <ion-icon name="car"></ion-icon>
            Vender
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    vender
  </div>
</ion-content>
